.forgot-password-step {
     width: 640px;
     background: url("../images/step1.png") no-repeat;
     overflow: hidden;
     padding-top: 30px;
     margin: 0 auto;
 }

.forgot-password-step-2 {
    background: url("../images/step2.png") no-repeat;
}

.forgot-password-step > .current {
    color: #7abd54;
}

.forgot-password-form {
    width: 800px;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    margin: 30px auto;
    padding: 15px;
    box-shadow: 0px 0px 5px #e5e5e5;
}

.forgot-password-form-title {
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: #7b7b7b;
}

.forgot-password-form-title > img {
    margin-right: 5px;
}

.forgot-password-form-title > span {
    color: #e1001f;
}